spring:
  application:
    name: SpringBoot

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ""

jwt:
  secret: change-me-please-change-this-to-a-very-long-secret-for-prod-0123456789
  expiration-ms: 3600000
  refresh-expiration-ms: 1209600000

---
# Postgres profile
spring:
  config:
    activate:
      on-profile: postgres
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT:5432}/${POSTGRES_DB:cpagent_db}
    # url: jdbc:postgresql://auth-db:${POSTGRES_PORT:5432}/${POSTGRES_DB:cpagent_db}
    driverClassName: org.postgresql.Driver
    username: ${POSTGRES_USER:cpagent}
    password: ${POSTGRES_PASSWORD:cpagent_pass}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

jwt:
  secret: change-me-please-change-this-to-a-very-long-secret-for-prod-0123456789
  expiration-ms: 3600000
  refresh-expiration-ms: 1209600000
